@using DebtSnowballer.Client.ClientSideServices.FinancialFreedom
@inject IFinancialFreedomPlanner FinancialFreedomPlanner
@inject NavigationManager NavigationManager

<h1>Amortization Schedule</h1>

@foreach (var plan in DebtPayoffPlan.PaymentPlans)
{
	<h3>Strategy Name: @plan.Key</h3>
	<h4>Loan Details</h4>

	@foreach (ClientSideServices.FinancialFreedom.AmortizationSchedule schedule in plan.Value)
	{
		string currencySymbol = GetCurrencySymbol();

		<h5>
			<br>@schedule.Name
		</h5>
		<p>Loans Currency: @schedule.CurrencyCode</p>
		<p>Annual Interest Rate: @schedule.AnnualInterestRate.ToString("P2")</p>
		<p>Bank Fees: @currencySymbol @schedule.BankFees.ToString("N2")</p>
		<p>Contracted Monthly Payment: @currencySymbol @schedule.ContractedMonthlyPayment.ToString("N2")</p>
		<br>
		<p>Total Interest Paid: @currencySymbol @schedule.TotalInterestPaid.ToString("N2")</p>
		<p>Total Bank Fees Paid: @currencySymbol @schedule.TotalBankFeesPaid.ToString("N2")</p>
		<p>Total Principal Paid: @currencySymbol @schedule.TotalPrincipalPaid.ToString("N2")</p>
		<p>Total ExtraPayment Paid: @currencySymbol @schedule.TotalExtraPayment.ToString("N2")</p>
		<br>
	}


	<table class="table">
		<thead>
		<tr>
			<th>Loan</th>
			<th>Month</th>
			<th>Date</th>
			<th>Interest Paid</th>
			<th>Bank Fees Paid</th>
			<th>Principal Paid</th>
			<th>Accumulated Interest Paid</th>
			<th>Accumulated Bank Fees Paid</th>
			<th>Accumulated Principal Paid</th>
			<th>Accumulated Extra Payment</th>
			<th>Unallocated Payment</th>
			<th>Extra Payment</th>
		</tr>
		</thead>
		<tbody>
		@foreach (PaymentInstallment detail in plan.Value.SelectMany(a => a.PaymentInstallments))
		{
			string currencySymbol = GetCurrencySymbol();
			<tr>
				<td>@detail.EndOfMonthLoanState.Name</td>
				<td>@detail.PaymentMonth</td>
				<td>@detail.EndOfMonthLoanState.StartDate.ToString("yyyy-MM")</td>
				<td>@currencySymbol @detail.InterestPaid.ToString("N2")</td>
				<td>@currencySymbol @detail.BankFeesPaid.ToString("N2")</td>
				<td>@currencySymbol @detail.PrincipalPaid.ToString("N2")</td>
				<td>@currencySymbol @detail.AccumulatedInterestPaid.ToString("N2")</td>
				<td>@currencySymbol @detail.AccumulatedBankFeesPaid.ToString("N2")</td>
				<td>@currencySymbol @detail.AccumulatedPrincipalPaid.ToString("N2")</td>
				<td>@currencySymbol @detail.AccumulatedExtraPayment.ToString("N2")</td>
				<td>@currencySymbol @detail.UnallocatedPayment.ToString("N2")</td>
				<td>@currencySymbol @detail.ExtraPayment.ToString("N2")</td>
			</tr>
		}
		</tbody>
	</table>
}

@code {

	[Parameter]
	public DebtPayoffPlan DebtPayoffPlan { get; set; }

	private string GetCurrencySymbol()
	{
		return "₡"; // You can replace this with the appropriate logic if needed
	}

}