@using DebtSnowballer.Shared.DTOs
@if (Debts == null)
{
	<p>
		<em>Loading...</em>
	</p>
}
else
{
	<br>
	<br>
	<table class="table">
		<thead>
		<tr>
			<th>Loan Nickname</th>
			<th>Principal</th>
			<th>Interest Rate</th>
			<th>Fees</th>
			<th>Monthly Payment</th>
			<th>Remaining Term</th>

			<th>Cardinal Order</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		@foreach (DebtDto item in Debts)
		{
			<tr>
				<td>@item.LoanNickName</td>
				<td>@item.RemainingPrincipal</td>
				<td>@item.InterestRate</td>
				<td>@item.Fees</td>
				<td>@item.MonthlyPayment</td>
				<td>@item.RemainingTerm</td>
				<td>@item.CardinalOrder</td>
				<td>
					<button class="btn btn-primary" @onclick="() => EditDebt.InvokeAsync(item.Id)">Edit</button>
					<button class="btn btn-danger" @onclick="() => DeleteDebt.InvokeAsync(item.Id)">Delete</button>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<br>
}

@code {

	[Parameter]
	public List<DebtDto> Debts { get; set; }

	[Parameter]
	public EventCallback<int> EditDebt { get; set; }

	[Parameter]
	public EventCallback<int> DeleteDebt { get; set; }

}