@using DebtSnowballer.Shared.DTOs
@using DebtSnowballer.Client.ClientSideServices
@inject IUserService UserService

<h3> Summary </h3>

@if (DebtsInBaseCurrency == null)
{
	<p>
		<em>Loading Summary...</em>
		<MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7" />
	</p>
}
else
{
	<div class="summary">
		<p>Total Amount Owed in Base Currency: <strong>@GetCurrencySymbol(UserPreference.BaseCurrency) @TotalAmountOwed.ToString("N2")</strong></p>
		<p>Total Monthly Payment in Base Currency: <strong>@GetCurrencySymbol(UserPreference.BaseCurrency) @AggregatedMonthlyPayment.ToString("N2")</strong></p>
		@if (DebtPlanMonthlyPayment < AggregatedMonthlyPayment)
		{
			<p class="text-danger mt-2">Preferred monthly payment must be greater than or equal to the contracted monthly payment.</p>
		}
		<p>
			Preferred Monthly Payment:
			<input @bind="DebtPlanMonthlyPayment" @bind:event="oninput" @onchange="UpdatePreferredMonthlyPayment" type="number" min="@AggregatedMonthlyPayment"/>
		</p>
	</div>
}


@code {
	private decimal TotalAmountOwed => DebtsInBaseCurrency.Sum(debt => debt.RemainingPrincipal);
	private decimal AggregatedMonthlyPayment => DebtsInBaseCurrency.Sum(debt => debt.ContractedMonthlyPayment);

	[Parameter]
	public decimal DebtPlanMonthlyPayment { get; set; }

	[Parameter]
	public List<LoanDetailDto> DebtsInBaseCurrency { get; set; }

	[Parameter]
	public UserPreferenceDto UserPreference { get; set; }

	[Parameter]
	public Func<string, string> GetCurrencySymbol { get; set; }

	[Parameter]
	public EventCallback<UserPreferenceDto> SaveUserPreference { get; set; }


	protected override Task OnParametersSetAsync()
	{
		if (DebtsInBaseCurrency != null && DebtPlanMonthlyPayment < AggregatedMonthlyPayment)
		{
			DebtPlanMonthlyPayment = AggregatedMonthlyPayment;
		}
		return Task.CompletedTask;
	}

	private async Task UpdatePreferredMonthlyPayment(ChangeEventArgs e)
	{
		if (decimal.TryParse(e.Value?.ToString(), out decimal newDebtPlanMonthlyPayment))
		{
			UserPreference.DebtPlanMonthlyPayment = newDebtPlanMonthlyPayment;
			await SaveUserPreference.InvokeAsync(UserPreference);
		}
	}

}