@using DebtSnowballer.Shared.DTOs
@using DebtSnowballer.Client.Services
@inject ISnowflakeService SnowflakeService

<br/>
<br/>

<h3>Snowflake Management</h3>

@if (Snowflakes == null)
{
	<p>
		<em>Loading...</em>
	</p>
}
else
{
	<table class="table">
		<thead>
		<tr>
			<th>NickName</th>
			<th>Frequency In Months</th>
			<th>Amount</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>CurrencyCode</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		@foreach (SnowflakeDto snowflake in Snowflakes)
		{
			string currencySymbol = GetCurrencySymbol(snowflake.CurrencyCode);
			<tr>
				<td>@snowflake.NickName</td>
				<td>@snowflake.FrequencyInMonths</td>
				<td>@currencySymbol @snowflake.Amount.ToString("N2")</td>
				<td>@snowflake.StartingAt</td>
				<td>@snowflake.EndingAt</td>
				<td>@snowflake.CurrencyCode</td>
				<td>
					<button class="btn btn-primary" @onclick="() => EditSnowflake.InvokeAsync(snowflake.Id)">Edit</button>
					<button class="btn btn-danger" @onclick="() => DeleteSnowflake.InvokeAsync(snowflake.Id)">Delete</button>
				</td>
			</tr>
		}
		</tbody>
	</table>

	<button class="btn btn-success" @onclick="OnAddNewSnowflake">Add New Snowflake</button>

	<br>
}

@code {

	[Parameter]
	public List<SnowflakeDto> Snowflakes { get; set; }

	[Parameter]
	public EventCallback OnAddNewSnowflake { get; set; }

	[Parameter]
	public EventCallback<int> EditSnowflake { get; set; }

	[Parameter]
	public EventCallback<int> DeleteSnowflake { get; set; }

	[Parameter]
	public Func<string, string> GetCurrencySymbol { get; set; }

}