@using DebtSnowballer.Shared.DTOs
@using DebtSnowballer.Client.Services
@inject ISnowflakeService SnowflakeService

<br/>
<br/>

<h3>Snowflake Management</h3>

@if (Snowflakes == null)
{
	<p>
		<em>Loading...</em>
	</p>
}
else
{
	<table class="table">
		<thead>
		<tr>
			<th>NickName</th>
			<th>Frequency In Months</th>
			<th>Amount</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>CurrencyCode</th>
		</tr>
		</thead>
		<tbody>
		@foreach (SnowflakeDto snowflake in Snowflakes)
		{
			<tr>
				<td>@snowflake.NickName</td>
				<td>@snowflake.FrequencyInMonths</td>
				<td>@snowflake.Amount</td>
				<td>@snowflake.StartingAt</td>
				<td>@snowflake.EndingAt</td>
				<td>@snowflake.CurrencyCode</td>
			</tr>
		}
		</tbody>
	</table>
}

@code {

	[Parameter]
	public List<SnowflakeDto> Snowflakes { get; set; }

}