@using DebtSnowballer.Shared.DTOs
@using DebtSnowballer.Client.ClientSideServices
@using DebtSnowballer.Client.ClientSideServices.FinancialFreedom
@using DebtSnowballer.Shared.Currency
@inject ILogger<DebtTable> Logger

@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IMultiPurposeService MultiPurposeService


@if (_strategyTypes == null)
{
	<p>
		<em>Loading strategies...</em>
		<MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7"/>
	</p>
}
else
{
	<br><h3>Select your base currency</h3>
	<p>SupportedCurrencies loans will be converted to your base currency. SupportedCurrencies calculations and reports will also be made using this currency.</p>
	<br>
	<MudSelect T="string" Label="Select Currency" Value="UserPreference.BaseCurrency" Variant="Variant.Text" ValueChanged="SavePreferredBaseCurrency">
		@foreach (CurrencyInfo currency in Currencies.SupportedCurrencies)
		{
			<MudSelectItem Value="@currency.AlphaCode">@currency.Name (@currency.Symbol)</MudSelectItem>
		}
	</MudSelect>
	
	<h3>Choose your strategy</h3>
	<select @onchange="OnStrategyChange" value="@UserPreference">
		@foreach (DebtPayDownMethodDto strategyType in _strategyTypes)
		{
			<option value="@strategyType.Id">@strategyType.Name</option>
		}
	</select>

	<div class="summary">
		<p>Total Amount Owed in Base Currency: <strong>@GetCurrencySymbol(UserPreference.BaseCurrency) @TotalAmountOwed.ToString("N2")</strong></p>
		<p>Total Monthly Payment in Base Currency: <strong>@GetCurrencySymbol(UserPreference.BaseCurrency) @AggregatedMonthlyPayment.ToString("N2")</strong></p>
		@if (DebtPlanMonthlyPayment < AggregatedMonthlyPayment)
		{
			<p class="text-danger mt-2">Preferred monthly payment must be greater than or equal to the contracted monthly payment.</p>
		}
		<p>
			Preferred Monthly Payment:
			<input @bind="DebtPlanMonthlyPayment" @bind:event="oninput" @onchange="UpdatePreferredMonthlyPayment" type="number" min="@AggregatedMonthlyPayment"/>
		</p>
	</div>
	
	<StrategyTable DebtPayoffPlan="@DebtPayoffPlan" GetCurrencySymbol="GetCurrencySymbol"/>
}

@code {
	private IList<DebtPayDownMethodDto> _strategyTypes;

	private decimal TotalAmountOwed => DebtsInBaseCurrency.Sum(debt => debt.RemainingPrincipal);
	private decimal AggregatedMonthlyPayment => DebtsInBaseCurrency.Sum(debt => debt.ContractedMonthlyPayment);

	private UserPreferenceDto _userPreference;

	[Parameter]
	public UserPreferenceDto UserPreference { get; set; }

	[Parameter]
	public EventCallback<UserPreferenceDto> SaveUserPreference { get; set; }

	[Parameter]
	public decimal DebtPlanMonthlyPayment { get; set; }

	[Parameter]
	public List<LoanDto> DebtsInBaseCurrency { get; set; }

	[Parameter]
	public Func<string, string> GetCurrencySymbol { get; set; }

	[Parameter]
	public DebtPayoffPlan DebtPayoffPlan { get; set; }
	
	private async Task SavePreferredBaseCurrency(string selectedCurrency)
	{
		Console.WriteLine("Inside SavePreferredBaseCurrency method");
		try
		{
			UserPreference.BaseCurrency = selectedCurrency;
			await SaveUserPreference.InvokeAsync(UserPreference);
			Snackbar.Add("Base currency saved successfully.", Severity.Success);
			Logger.LogInformation("Base currency saved successfully.");
		}
		catch (Exception ex)
		{
			Snackbar.Add($"Error saving base currency: {ex.Message}", Severity.Error);
			Logger.LogError(ex, "Error saving base currency.");
		}
	}

	protected override async Task OnInitializedAsync()
	{
		_strategyTypes = await MultiPurposeService.GetAllStrategyTypes();
	}

	private async Task OnStrategyChange(ChangeEventArgs selectedStrategyId)
	{
		if (int.TryParse(selectedStrategyId.Value!.ToString(), out int parsedValue))
		{
			UserPreference.SelectedStrategy = parsedValue;
			await SaveUserPreference.InvokeAsync(UserPreference);
		}
	}
	
	protected override Task OnParametersSetAsync()
		{
		if (DebtsInBaseCurrency != null && DebtPlanMonthlyPayment < AggregatedMonthlyPayment)
			{
			DebtPlanMonthlyPayment = AggregatedMonthlyPayment;
			}
		return Task.CompletedTask;
		}

	private async Task UpdatePreferredMonthlyPayment(ChangeEventArgs e)
		{
		if (decimal.TryParse(e.Value?.ToString(), out decimal newDebtPlanMonthlyPayment))
			{
			UserPreference.DebtPlanMonthlyPayment = newDebtPlanMonthlyPayment;
			await SaveUserPreference.InvokeAsync(UserPreference);
			}
		}

}