@page "/amortizationschedule"
@using DebtSnowballer.Client.ClientSideServices.AmortizationScheduleService
@using System.Text.Json

@inject IAmortizationScheduleService AmortizationScheduleService
@inject NavigationManager NavigationManager

<h1>Amortization Schedule</h1>

@foreach (var plan in PaymentPlanDetails.PaymentPlans)
{
	<h3>@plan.Key</h3>
	<!-- Strategy Name -->
	<table class="table">
		<thead>
		<tr>
			<th>Month</th>
			<th>Interest Paid</th>
			<th>Bank Fees Paid</th>
			<th>Principal Paid</th>
		</tr>
		</thead>
		<tbody>
		@foreach (MonthlyAmortizationDetail detail in plan.Value.SelectMany(a => a.MonthlyDetails))
		{
			<tr>
				<td>@detail.Month</td>
				<td>@detail.InterestPaid</td>
				<td>@detail.BankFeesPaid</td>
				<td>@detail.PrincipalPaid</td>
			</tr>
		}
		</tbody>
	</table>
}


@code {
	private PaymentPlanDetail PaymentPlanDetails { get; set; }

	protected override Task OnInitializedAsync()
	{
		string paymentPlanDetailsJson = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).Split(new[] { '?' })[1].Split(new[] { '=' })[1];
		PaymentPlanDetails = JsonSerializer.Deserialize<PaymentPlanDetail>(Uri.UnescapeDataString(paymentPlanDetailsJson));
		return Task.CompletedTask;
	}

}