@page "/amortizationschedule"
@using DebtSnowballer.Client.ClientSideServices.AmortizationScheduleService
@using DebtSnowballer.Shared.DTOs

@inject IAmortizationScheduleService AmortizationScheduleService

<h1>Amortization Schedule</h1>

@foreach (var plan in PaymentPlanDetails.PaymentPlans)
{
	<h3>@plan.Key</h3> <!-- Strategy Name -->
	<table class="table">
		<thead>
		<tr>
			<th>Month</th>
			<th>Interest Paid</th>
			<th>Bank Fees Paid</th>
			<th>Principal Paid</th>
		</tr>
		</thead>
		<tbody>
		@foreach (MonthlyAmortizationDetail detail in plan.Value.SelectMany(a => a.MonthlyDetails))
		{
			<tr>
				<td>@detail.Month</td>
				<td>@detail.InterestPaid</td>
				<td>@detail.BankFeesPaid</td>
				<td>@detail.PrincipalPaid</td>
			</tr>
		}
		</tbody>
	</table>
}

@code {
	private PaymentPlanDetail PaymentPlanDetails { get; set; }

	/*
	private List<DebtDto> _debtsInBaseCurrency;
	private List<SnowflakeDto> _snowflakesInBaseCurrency;
	private decimal debtPlanMonthlyPayment;

	protected override async Task OnInitializedAsync()
	{
		PaymentPlanDetails = await AmortizationScheduleService.CalculatePaymentPlansAsync();
}
*/
}